.container{
    position:absolute;
    width:99%;
    height:50rem;
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items:center;
    background:rgb(249, 249, 250);
   
    top:12%;
    margin-left:0.5rem;
    border-radius: 1rem;
}
.container i{
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.material-icons.md-48 { font-size: 48px; }
