.video{
    position:absolute;
    width:99%;
    height:50rem;
    
    background:rgb(249, 249, 250);
   
    top:12%;
    margin-left:0.5rem;
    border-radius: 0.5rem;
}

.video p{
    position:relative;
    left :-40%;
}
.video .inputfile{
    display:none;
}

.video label{
    position:absolute;
    margin:auto;
    color:white;
    background-color: #f88425;
    left:5%;
    width:170px;
    height:50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    top:10px;
    font-family:"Montserrat",sans-serif;
}

.video label:hover {
 background-color: #e44607;
 border-color: #da7502;
 
 }
.video .inputurl{
    position:absolute;
    display:block;
    display:grid;
    align-items: right;
    right:30%;
    top:2%;
    width:50%;
    height:5%;
}
  

.player{
    position:relative;
    top:9%;
    left :5%;

}
